@font-face {
  font-family: CustomFont;
  src: url(../assets/fonts/FontsFree-Net-SFProText-Medium.ttf), local(PingFangSC-Regular), local(Microsoft YaHei), local(Noto Sans S Chinese);
}

@font-face {
  font-family: CustomFont;
  unicode-range: U+0030-0039;
  src: url(../assets/fonts/FontsFree-Net-SFProText-Medium.ttf), local(Helvetica);
}

@font-face{
  font-family DINEngschriftStd
  font-style normal
  src url(../assets/fonts/FontsFree-Net-SFProText-Medium.ttf)
}

body
  background-color white

body,div,p,h1,h2,h3,h4,h5,h6,span
  font-family: CustomFont

div
  box-sizing border-box

